name: LeetCode Solutions Check

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Done
        run: echo "No build needed for LeetCode solutions"
